:root {
  --DarkGrayBlue: hsl(217, 19%, 35%);
  --DarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayBlue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
main {
  background: var(--LightGrayBlue);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 4rem;
}
article {
  width: 740px;
  height: 300px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 5px 30px hsla(214, 17%, 51%, 0.534);
}
.img_section {
  object-fit: cover;
  width: 300px;
  border-radius: 10px 0 0 10px;
}
.details_container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}

.heading {
  font-size: 20px;
  margin-bottom: 1rem;
}
.desc {
  font-size: 14px;
}
.profile_share {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 14px;
}

.bold {
  font-weight: 700;
  color: var(--DarkGrayBlue);
}
.lite {
  color: var(--DarkBlue);
}
.profile img {
  width: 40px;
  border-radius: 100%;
}
.links p {
  letter-spacing: 4px;
}
.btn {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: none;

  background: var(--LightGrayBlue);
  transition: ease-in-out 0.2s;
  cursor: pointer;
  z-index: 99;
}

.links {
  position: absolute;
  background: var(--DarkGrayBlue);
  top: -40px;
  right: -105px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 2.6rem;
  gap: 1rem;
  color: var(--LightGrayBlue);
  border-radius: 10px;
  opacity: 0;
  transition: ease-in-out 0.2s;
}
.links::before {
  content: "";
  width: 20px;
  height: 20px;
  background: var(--DarkGrayBlue);
  position: absolute;
  bottom: -6px;
  rotate: 45deg;
  border-radius: 2px;
}
.links.show {
  opacity: 1;
  top: -80px;
}

@media (width < 900px) {
  article {
    max-width: 360px;
    width: 90%;
    height: fit-content;
    flex-direction: column;
    overflow: hidden;
  }
  .img_section {
    border-radius: 0;
    width: 100%;
    height: 240px;
  }
  .details_container {
    padding: 0;
  }
  .details_section {
    padding: 2rem;
    padding-bottom: 0;
  }
  .heading {
    font-size: 18px;
  }
  .profile_share {
    padding: 1rem 2rem;
  }
  .links {
    left: 0;
    height: 100%;
    width: 100%;
    top: 50%;
    opacity: 0;
    transition: ease-in-out 0.3s;
    border-radius: 0;
    justify-content: left;
  }
  .links::before {
    display: none;
  }
  .btn {
    z-index: 99;
  }
  .links.show {
    opacity: 1;
    top: 0;
  }
}
